<ion-view title="Université">
    <ion-content>
<div class="padding">
    <img src="img/artois.png">
    <label class="item-floating-label">Nom Université:<strong>{{universite.nomUniversite}}</strong></label>
    <label class="item-floating-label">Nom Président:<strong>{{universite.president}}</strong></label>
    <label class="item-floating-label">Adresse:<strong>{{universite.adresse}}</strong></label>
    <label class="item-floating-label">Email:<strong>{{universite.email}}</strong></label>
    <label class="item-floating-label">Tel:<strong>{{universite.tel}}</strong></label>
    <label class="item-floating-label">fax:<strong>{{universite.fax}}</strong></label>


</div>
    </ion-content>



</ion-view>